@{
    ViewData["Title"] = "Samies Bank";
}

    <div class="text-center">
        <h1 class="display-4">Samies bank</h1>

        @foreach (var customer in Model)
        {
        <ul>
            <li>
                <p>Kundnummer: @customer.CustomerId</p>
                <p>Kund: @customer.Name</p>
                 @foreach (var account in customer.Accounts)
                    {
                        <li>
                            <p>Kontonummer: @account.AccountID</p>
                            <p>Saldo: @account.Balance</p>
                        </li>
                    }
            </li>

        </ul>
        }

    </div>
    